button.kep-login-facebook.metro {
  width: 320px;
  border-radius: 12px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  color: rgba(232, 232, 232, 0.797);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.kep-login-facebook.metro:hover {
  color: white;
  border: 1px outset;
}
